@font-face {
    font-family: 'outfit';
    src: url('/public/police/Outfit-Light.ttf');
}

@font-face {
    font-family: 'Newsreader';
    src: url('/police/Newsreader_9pt-Light.ttf');
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px; 
    margin-bottom: 20px; 
}

.div1 {
    grid-column: 1;
    grid-row: 1;

    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    background-color: #171717;
    border: solid 1px white;
}
.div1 h1 {
    font-family: 'Newsreader';
    text-align: center;
    margin: 20px;
    font-size: 2em;
}

.div1 h2 {
    font-family: 'outfit';
    text-align: baseline;
    margin: 10px;
    font-size: 1.5em;
}

#textAccueil {
    text-align: justify;
    margin: 20px;
}

#imgAccueil img {
    border-radius: 50px;
    box-shadow: 0 2px 6px rgb(4, 170, 27);
}

.containerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#div1demi {
    grid-column: 1;
    grid-row-start: 2;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px; 
    margin-bottom: 20px; 
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link-card {
    text-decoration: none;
    color: inherit;
    width: 90%;
}

.link-card:active {
    transform: scale(0.98);
}

.div5 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
    padding: 10px 20px;
    border: solid 1px white;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #1dd661;
    margin-right: 20px;
    color: black;
    
}


.div5 h1 {
    text-align: center;
    margin: 10px;

    font-family: 'outfit';
}
#containerCarroussel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}
.carousel {
    margin: 10px 20px;
    padding: 20px 0;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

CardAvis {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
    animation: scroll-up 20s linear infinite;
}


@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}