@font-face {
    font-family: 'outfit';
    src: url('/public/police/Outfit-Light.ttf');
}

@font-face {
    font-family: 'newsreader';
    src: url('/public/police/Newsreader_9pt-Light.ttf');
}

.card-choix {
    background-color: #171717;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    border: solid 1px white;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

Link.card-choix,
Link.card-choix * {
    text-decoration: none !important;
    color: inherit;
}

#gaucheCardChoix {
    grid-column: 1 ;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#droiteCardChoix {
    grid-column: span 2 / span 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

#droiteCardChoix h2 {
    font-family: 'outfit', sans-serif;
    font-size: 1.5em;
}

#droiteCardChoix p {
    font-family: 'newsreader', serif;
    font-size: 1em;
    margin: 0;
    color: #b3b3b3;
}