@font-face {
  font-family: "newsreader";
  src: url("/public/police/Newsreader_9pt-Light.ttf");
}

#parentNosVehicules {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

#imgVoiture1 {
  grid-column: 1;
  grid-row: 2;
}

#imgVoiture2 {
  grid-column: 2;
  grid-row: 1;
}

#texteVoiture1 {
  grid-column: 1;
  grid-row: 1;
}

#texteVoiture2 {
  grid-column: 2;
  grid-row: 2;
}

.imgVoiture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 2px rgb(29, 214, 97);
  box-shadow: rgba(29, 214, 97, 0.35) 0px 5px 15px;
}

.texteVoiture h2 {
  color: rgb(29, 214, 97);
  font-size: 40px;
  text-align: center;
}

.texteVoiture {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.texteVoiture ul {
  margin: 40px 50px;
}

.listeDivVoiture {
  font-size: 19px;
  font-family: "newsreader";
}
